  
 <!-- 
Author: Multiverse Design
Date: Nov-10-2021
FileName : footer.js --> 
  
<body>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>

</html>