  
 <!-- 
Author: Multiverse Design
Date: Nov-10-2021
FileName : footer.js --> 

<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Copyright &copy; 2021 - Multiverse Design</a>
  </div>
</nav>

</html>