<!--Main nav-->
<!--Shahriar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="/">
    <img src="/Assets/images/Multiverse_Design_LOGO.png" width="80" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">

      <% if(typeof displayName == 'string' && displayName) { %>
    
      <li class="nav-item-s"> 
      <a class="nav-link" href="/"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
      </li>
      

      <li class="nav-item-s">
      <a class="nav-link" href="/about"><i class="fas fa-info"></i> About</a>
      </li>

      <li class="nav-item-s">
        <a class="nav-link" href="/surveys"><i class="fas fa-poll"></i> My Surveys</a></li>

        <li class="nav-item-s">
        <a class="nav-link" href="/surveys/add"><i class="fas fa-user"></i> Create Survey</a>
      </li>

      <li class="nav-item-s">
        <a class="nav-link welcome" style="color: white;"> Welcome, <%= displayName %></a>
      </li>
      <li class="nav-item-s">        
        <a class="nav-link popup2" style="color: red;" href="/user/logout"> Logout <i class="fas fa-lg fa-sign-out-alt"></i></a>                      
      </li>

        <% } else { %>
      <li class="nav-item-s">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home </a>
      </li>

      <li class="nav-item-s">
      <a class="nav-link" href="/about"><i class="fas fa-users"></i> About Us</a>
      </li>

       <li class="nav-item-s">
      <a class="nav-link" href="/projects"><i class="fas fa-info"></i> Project</a>
      </li>
      
      <li class="nav-item-s">
        <a class="nav-link" href="/public-surveys"><i class="fas fa-poll"></i> Public Surveys</a></li>


      <li class="nav-item-s"><a href="/user/login" class="nav-link">
          <i class="fas fa-lg fa-sign-in-alt"></i> Login</a>
        <% } %>
      </li>
  </div>
</nav>