<!--Main nav-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="/">
    <img src="/Assets/images/Multiverse_Design_LOGO.png" width="80" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">


      <% if (title == "Home") { %>
      <li class="nav-item active">
        <% }  else {%>
      <li class="nav-item">
        <% } %>
        <a class="nav-link" href="/"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
      </li>

       <% if (title == "About") { %>
      <li class="nav-item active">
        <% }  else {%>
      <li class="nav-item">
        <% } %>
        <a class="nav-link" href="/about"><i class="fas fa-lg fa-laptop-house"></i> About</a>
      </li>

      <!--SHOW/HIDE TOOGLE FOR SHOW MY SURVEYS AND PUBLIC SURVEY-->
       <% if(typeof displayName == 'string' && displayName) { %>
      <% if (title == "My Survey List") { %>
      <li class="nav-item active ">
        <% } else { %>
      <li class="nav-item"></li>
      <% } %>
      <a class="nav-link" href="/surveys"><i class="fas fa-lg fa-igloo"></i> Show my Surveys</a>
      </li>
      <% } else { %>
      <a class="nav-link" href="/public-surveys"><i class="fas fa-lg fa-igloo"></i> Public Surveys</a>
      </li>
      <% } %>

            
      <% if (title == "Add Survey") { %>
      <li class="nav-item active">
        <% } else { %>
      <li class="nav-item"></li>
      <% } %>
      <a class="nav-link" href="/surveys/add"><i class="fas fa-lg fa-question-circle"></i> Create Survey</a>
      </li>
     

      <% if (title == "Register") { %>
      <li class="nav-item active ">
        <% } else { %>
      <li class="nav-item"></li>
      <% } %>
      <a class="nav-link" href="/user/register"><i class="fas fa-lg fa-igloo"></i> Sign up</a>
      </li>


      <% if(typeof displayName == 'string' && displayName) { %>
      <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
      <li class="nav-item"><a href="/user/logout" class="nav-link">
          <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
      <% } else { %>
      <li class="nav-item"><a href="/user/login" class="nav-link">
          <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
      <% } %>
  </div>
</nav>