<!-- head section of html-->  
 <%- include('./content/partials/header.ejs'); %>

  <!-- Nav Bar Section -->
  <%- include ('./content/partials/main_nav.ejs') %>

    <!-- Main Section -->
    <main class="container" style="background-color: green;">
      <%- include ('./content/'+ page +'.ejs'); %>
    </main>

    <!-- footer -->
    <%- include('./content/partials/footer.ejs'); %>

  




