<!DOCTYPE html>
<html>

<!-- head section of html-->  
 <%- include('./content/partials/header.ejs'); %>

<body>
  <!-- Nav Bar Section -->
  

  <%- include ('./content/partials/main_nav.ejs') %>

    <!-- Nav Bar Section -->

    <!-- Main Section -->
    <main>
      <%- include ('./content/'+ page +'.ejs'); %>
    </main>
    <!-- Main Section -->

    <!-- Bottom section -->
    <%- include('./content/partials/footer.ejs'); %>
      <!-- Bottom section -->



      <!-- Javascript section -->
      <script src="/Scripts/app.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
  




